@charset "UTF-8";

html, body {
	display: grid;
	justify-content: center;  /* 水平居中 */
	height: 100vh;            /* 使body高度充滿整個視窗 */
	margin: 0;                /* 移除默認的邊距 */
	text-align: center; /* 讓文本也居中 */
}

.column-image {
	min-width: 250px;
    width: 50%;
    height: 131px;
}


.columnImage {
	max-width: 400px;
	min-width: 200px;
}

.small-image{
	width: 300px;
	height: auto;
}

.large-image{
	max-width: 940px;
	height: auto;
}
